
.sectionComponent {
  max-width: 100vw;
  background-color: var(--prind-colour-4);
  position: relative;
}

@media (min-width: 800px) {

}

.contentContainer {
  max-width: var(--standard-max-width);
  margin: 0 30px;
  padding-top: 60px;
  text-align: left;
  z-index: 100;
}

@media (min-width: 1200px) {
  .contentContainer {
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-column-gap: 50px;
    padding-top: 124px;
    padding-bottom: 124px;
  }
}

@media (min-width: 1400px) {
  .contentContainer {
    margin: 0 auto;
  }
}

.headingBlock {
  margin-bottom: 0;
  margin-bottom: 40px;
  text-align: left;
  max-width: 526px;
}

.headingBlock > h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  color: var(--prind-colour-3);
}

@media (min-width: 800px) {
  .headingBlock > h2 {
    font-size: 44px;
    line-height: 130%;
    margin-bottom: 80px;
  }
}


.featuresHolder {
  color: var(--prind-colour-3);
}

.featureTile {
  --line-width: 2px;
  margin: 0;
  display: grid;
  grid-template-columns: 30px auto;
  grid-column-gap: 20px;
}

.featureTile:last-child {
  --line-width: 0;
}

@media (min-width: 800px) {
  .textHolder {
    text-align: left;
  }
}

.featureTile > .textHolder > h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: var(--prind-colour-2);
  margin: 0;
}


.featureTile > .textHolder > p {
  margin-top: 14px !important;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
  margin-bottom: 96px;
}


.lineHolder {
  --holder-width: 30px;
  width: var(--holder-width);
  position: relative;
}

.topCircle {
  width: calc(var(--holder-width) - 4px);
  height: calc(var(--holder-width) - 4px);
  border-radius: 50%;
  display: block;
  border: 2px solid var(--prind-colour-3);
  background-color: var(--prind-colour-4);
}

.joiningLine {
  height: calc(100% - var(--holder-width));
  position: absolute;
  top: var(--holder-width);
  left: calc(var(--holder-width) / 2);
  width: var(--line-width);
  background-color: #DCC394;
}

/* Ugly code to make it full width */
.featureImage {
  width: 100vw;
  margin-left: -30px;
  height: 282px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.featureImageBig {
  width: 100%;
  height: 100%;
  margin-left: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-align: left;
}

.featureImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transform: scale(2) translateX(25%);
  opacity: 60%;
}

@media (min-width: 800px) {
  .featureImage > img {
    transform: scale(1);
  }
}

.featureImageBig > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transform: scale(1);
  opacity: 60%;
}
