.container {
  max-width: var(--component-max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.title {
}

.articlesContainer {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  column-gap: 3rem;
  row-gap: 2rem;
}
