
.sectionComponent {
  max-width: 100vw;
  background-color: var(--prind-colour-4);
}

@media (min-width: 800px) {
  .sectionComponent {
    min-height: 800px;
  }
}

.stringContainer {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.stringContainer > img {
  max-width: 100%;
  z-index: 1;
}

.contentContainer {
  max-width: var(--standard-max-width);
  margin: 0 30px;
  text-align: left;
  z-index: 100;
  padding-bottom: 73px;
}

.contentContainer a:link,
.contentContainer a:visited,
.contentContainer a:hover,
.contentContainer a:active {
  color: var(--prind-colour-3);
  text-decoration: none;
}

@media (min-width: 1400px) {
  .contentContainer {
    margin: 0 auto;
  }
}

.topRow {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  max-width: 100vw;
  align-items: center;
  padding-top: 22px;
  margin: 0 -20px 0 0;
}

@media (min-width: 800px) {
  .topRow {
    padding-top: 70px;
    margin: 0;
  }
}

.textContainer {
  margin-top: 48px;
}

@media (min-width: 1024px) {
  .textContainer {
    margin-top: 137px;
  }
}

.textContainer > h1 {
  margin: 0;
}

.titleOne {
  margin-bottom: 1em !important;
}

@media (min-width: 800px) {
  .titleOne {
    margin-bottom: 0 !important;
  }
}

.textContainer > h2 {
  margin: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .buttonContainer {
    flex-direction: row;
  }
}

.arrangeDemoButton {
  width: 180px;
}

@media (min-width: 800px) {
  .arrangeDemoButton {
    margin-right: 2em;
    width: 225px;
  }
}

.logInButton {

}

.logoImage {
  width: 25vw;
  max-width: 207px;
  object-fit: contain;
  margin-right: auto;
}
