
.sectionComponent {
  max-width: 100vw;
  text-align: center;
  padding: 60px 0;
}

.contentContainer {
  max-width: var(--standard-max-width);
  margin: 0 30px;
  text-align: left;
}

.logoImage {
  width: 213px;
  height: 45px;
  object-fit: contain;
  margin-right: auto;
}

.ricsLogo {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 96px;
  height: 65px;
  object-fit: contain;
  margin-right: auto;
}

.legalArea {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: var(--prind-colour-3);
}
