
.sectionComponent {
  max-width: 100vw;
  min-height: 100vh;
}

@media (min-width: 800px) {
  .sectionComponent {
  }
}

.stringContainer {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.stringContainer > img {
  max-width: 100%;
  z-index: 1;
}

.contentContainer {
  max-width: var(--standard-max-width);
  margin: 0 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--prind-colour-3);
}

.contentContainer a:link,
.contentContainer a:visited,
.contentContainer a:hover,
.contentContainer a:active {
  color: var(--prind-colour-3);
}

@media (min-width: 1400px) {
  .contentContainer {
    margin: 0 auto;
  }
}

.topRow {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  max-width: 100vw;
  width: 100%;
  align-items: center;
  padding-top: 22px;
  margin: 0 -20px 0 0;
}

@media (min-width: 800px) {
  .topRow {
    padding-top: 70px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .formContainer {
    margin-top: 137px;
  }
}

.arrangeDemoButton {
  width: 180px;
}

@media (min-width: 800px) {
  .arrangeDemoButton {
    margin-right: 2em;
    width: 225px;
  }
}

.contactButton {

}

.logoImage {
  width: 25vw;
  max-width: 207px;
  object-fit: contain;
  margin-right: auto;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 30px auto;
}

@media (min-width: 800px) {
  .formContainer {
    margin: 62px auto;
  }
}

.formBox {
  border-radius: 39px;
  border: 1px solid #DCC394;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 27px;
  background-color: var(--prind-colour-1);
  max-width: 390px;
}

.formBox > h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  color: var(--prind-colour-3);
}

.formBox > label {
  color: var(--prind-colour-3);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.formBox > input[type=text],
.formBox > input[type=email] {
  background: var(--prind-colour-3);
  padding: 0 20px;
  border-radius: 30px;
  height: 57px;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.formBox > input[type=text]:disabled,
.formBox > input[type=email]:disabled {
  background-color: #aaaaaa80;
  color: #aaa;
  cursor: not-allowed;
}

.submitButton {
  margin-top: 14px;
  height: 57px;
  padding: 0 2em;
  border-radius: 30px;
  width: 100%;
  font-size: 16px;
  line-height: 105%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.privacyText {
  margin: 0 auto auto auto;
  width: 100%;
  max-width: 350px;
}

.submitButton:disabled {
  background-color: #aaaaaa80;
  color: #aaa;
  cursor: not-allowed;
}

.errorSubmittingText {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.successSubmittingText {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}
