
.sectionComponent {
  max-width: 100vw;
  min-height: 100vh;
}

@media (min-width: 800px) {
  .sectionComponent {
  }
}

.stringContainer {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.stringContainer > img {
  max-width: 100%;
  z-index: 1;
}

.contentContainer {
  max-width: var(--standard-max-width);
  margin: 0 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentContainer a:link,
.contentContainer a:visited,
.contentContainer a:hover,
.contentContainer a:active {
  color: var(--prind-colour-3);
  text-decoration: none;
}

@media (min-width: 1400px) {
  .contentContainer {
    margin: 0 auto;
  }
}

.topRow {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  max-width: 100vw;
  width: 100%;
  align-items: center;
  padding-top: 22px;
  margin: 0 -20px 0 0;
}

@media (min-width: 800px) {
  .topRow {
    padding-top: 70px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .formContainer {
    margin-top: 137px;
  }
}

.arrangeDemoButton {
  width: 180px;
}

@media (min-width: 800px) {
  .arrangeDemoButton {
    margin-right: 2em;
    width: 225px;
  }
}

.contactButton {

}

.logoImage {
  width: 25vw;
  max-width: 207px;
  object-fit: contain;
  margin-right: auto;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.formBox {
  border-radius: 39px;
  border: 1px solid #DCC394;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.formBox > h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  color: var(--prind-colour-3);
}
