
.sectionComponent {
  max-width: 100vw;
  background-color: var(--prind-colour-1);
}

@media (min-width: 800px) {

}

.contentContainer {
  max-width: var(--standard-max-width);
  margin: 0 30px;
  text-align: center;
  padding-bottom: 60px;
}

@media (min-width: 800px) {
  .contentContainer {
    padding: 60px;
  }
}

@media (min-width: 1400px) {
  .contentContainer {
    margin: 0 auto;
    padding: 200px;
  }
}

.headingBlock {
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 36px;
  text-align: center;
  max-width: 1074px;
  margin-left: auto;
  margin-right: auto;
}

.headingBlock > h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  color: var(--prind-colour-3);
}

.headingBlock > p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: var(--prind-colour-3);
}

@media (min-width: 800px) {
  .headingBlock > h2 {
    font-size: 44px;
  }

  .headingBlock > p {
    font-size: 24px;
  }
}

.headingBlock > p:last-child {
  margin-bottom: 0;
}

.carouselHolder {
}

@media (min-width: 800px) {
  .carouselHolder {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 55px auto 55px;
    align-items: center;
  }
}

.itemHolder {
  border-radius: 39px;
  border: 1px solid #DCC394;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  background-color: var(--prind-colour-4);
}


.controlHolder {
  color: var(--prind-colour-3);
  display: grid;
  grid-template-columns: 54px auto 54px;
  width: 250px;
  margin: 32px auto 0 auto;

}

.controlButton {
  border-radius: 50%;
  height: 53px;
  width: 53px;
  border: 1px solid #DCC394;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.featureTile {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  padding: 32px;
  transition: all 250ms;
}

.featureTile > h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--prind-colour-2);
  margin-top: 0;
}


.featureTile > p {
  margin-top: 7px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 145%;
  color: var(--prind-colour-3);
}

@media (min-width: 800px) {
  .featureTile {
    padding: 94px;
  }

  .featureTile > h4 {
    font-size: 22px;
  }

  .featureTile > p {
    font-size: 32px;
    line-height: 145%;
  }
}

.reasonsGrid {
  display: grid;
  grid-auto-flow: column;
  background-color: var(--prind-colour-4);
}


.arrangeDemoButton {
  width: 225px;
  margin: auto;
  margin-bottom: 80px;
}
