/* Grid system */
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --header-bar-height: 100px;
  --footer-bar-height: 125px;
  --standard-padding: 5em 3em;
  --standard-max-width: 1200px;
  --number-list-headline-font-color: #194174;
  --headline-number-font-color: #19744d;
}

.App {
  text-align: center;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.fill-parent {
  height: 100%;
  width: 100%;
}

.flex-center-content {
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0;
}

h4 {
  font-weight: 300;
  color: #666;
  font-size: 1.3em;
}

/* ================================== */
/* ======= Header Bar section ======= */
/* ================================== */

#header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-bar-height);
  background-color: black;
  z-index: 100;
  display: flex;
  align-items: center;
}

#header-bar .header-container {
  display: flex;
  flex-direction: row;
}

#header-bar .header-container a {
  color: white;
}


/* ================================ */
/* ========= Hero section ========= */
/* ================================ */

#component-hero {
  height: 100vh;
  background-color: #DCDCDC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#component-hero .image-container {
}

#component-hero .text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#component-hero .fill {
  overflow: hidden;
  background: no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}

/* =========================================== */
/* ========= Feature Circles section ========= */
/* =========================================== */

#component-feature-circles {
  padding: var(--standard-padding);
}

#component-feature-circles .component-feature-circles-container {
  max-width: var(--standard-max-width);
  width: 90%;
  margin: auto;
}

#component-feature-circle {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}



#component-feature-circle .circle-container {
  height: 128px;
  margin-bottom: 1em;
}

#component-feature-circle p {
  margin-top: 1em;
}


#component-feature-circle .shadow svg {
  filter: drop-shadow( 3px 3px 3px rgba(0, 0, 0, .5));
}

/* ======================================== */
/* ========= Side By Side section ========= */
/* ======================================== */

#component-side-by-side {
  padding: var(--standard-padding);
}

#component-side-by-side .component-side-by-side-container {
  max-width: var(--standard-max-width);
  width: 90%;
  margin: auto;
}

#component-side-by-side img {
  width: 100%;
}

/* ======================================= */
/* ========= Number List section ========= */
/* ======================================= */

#component-number-list {
  padding: var(--standard-padding);
}

#component-number-list .component-number-list-container {
  max-width: var(--standard-max-width);
  display: flex;
  flex-direction: row;
  margin: auto;
}

#component-number-list .single-number-tile {
  display: flex;
  flex-direction: column;
}

#component-number-list .headline-number {
  font-size: 3em;
  font-weight: bold;
  color: var(--number-list-headline-font-color)
}

#component-number-list .title {
  font-size: 1.3em;
  margin-bottom: 0.8em;
}

#component-number-list .description {

}

/* ======================================= */
/* ======= Headline Number section ======= */
/* ======================================= */

#component-headline-numbers {
  padding: var(--standard-padding);
}

#component-headline-numbers .component-headline-numbers-container {
  max-width: var(--standard-max-width);
  display: flex;
  flex-direction: row;
  margin: auto;
}

#component-headline-numbers .headline-number-tile {
  display: flex;
  flex-direction: column;
}

#component-headline-numbers .headline-number {
  font-size: 6em;
  font-weight: bold;
  color: var(--headline-number-font-color)
}

#component-headline-numbers .title {
  font-size: 1.3em;
  margin-bottom: 0.8em;
}

#component-headline-numbers .description {

}


/* ================================== */
/* ======= Footer Bar section ======= */
/* ================================== */

#footer-bar {
  height: var(--footer-bar-height);
  background-color: black;
  display: flex;
  align-items: center;
}

#footer-bar .footer-container {
  display: flex;
  flex-direction: column;
}

#footer-bar .footer-container a {
  color: white;
}

#footer-bar .legal {
  color: white;
  font-size: 12px;
}

/* =================================== */
/* ======= Social Link section ======= */
/* =================================== */

#social-links-container {
}

#social-links-container .single-social-icon {
  margin: 1em;
}
