/* Grid system */
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --header-bar-height: 75px;
  --footer-bar-height: 75px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.fill-parent {
  height: 100%;
  width: 100%;
}

.flex-center-content {
  justify-content: center;
  align-items: center;
}

/* ================================ */
/* ========= Hero section ========= */
/* ================================ */

#component-hero {
  height: 100vh;
  background-color: #DCDCDC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#component-hero .image-container {

}

#component-hero .text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* =========================================== */
/* ========= Feature Circles section ========= */
/* =========================================== */

#component-feature-circles {
  padding: 2em 0;
}

#component-feature-circle {
  padding-top: 2em;
}
